body {
    background: rgb(91, 91, 204);
    font: normal 20pt arial;
}

header {
    color: white;
    text-align: center;
    color: white;
    text-align: center;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.452);
}
img{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 460px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);


}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
